In [39]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [47]:
# Initialize environment
from pycaret.regression import *

# process data
r1 = setup(data, target = 'charges', session_id = 123,
           normalize = True,
           polynomial_features = True, 
           bin_numeric_features= ['age', 'bmi'])

# Train a linear regression model
lr = create_model('lr')

# save transformation pipeline and model 
save_model(lr, model_name = 'deployment_1')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['age', 'bmi', 'children'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['sex', 'smoker', 'region'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('ordinal_encoding',
                  TransformerWrapper(include=['sex', 'smoker'],
                                     transfor...
                                                               use_cat_names=True))),
                 ('polynomial_features',
                  TransformerWrapper(transformer=PolynomialFeatures(include_bias=False))),
                 ('bin_numeric_features',
                  TransformerWrapper(include=['age', 'bmi'],
                                     transformer=KBinsDiscretizer(encode='ordinal',
                                                                  strategy='kmeans'))),
                 ('normalize', TransformerWrapper(transformer=StandardScaler())),
                 ('trained_model', LinearRegression(n_jobs=-1))]),
 'deployment_1.pkl')

In [32]:
# check variables in the setup
get_config()

{'USI',
 'X',
 'X_test',
 'X_test_transformed',
 'X_train',
 'X_train_transformed',
 'X_transformed',
 '_available_plots',
 '_ml_usecase',
 'data',
 'dataset',
 'dataset_transformed',
 'exp_id',
 'exp_name_log',
 'fold_generator',
 'fold_groups_param',
 'fold_shuffle_param',
 'gpu_n_jobs_param',
 'gpu_param',
 'html_param',
 'idx',
 'is_multiclass',
 'log_plots_param',
 'logging_param',
 'memory',
 'n_jobs_param',
 'pipeline',
 'seed',
 'target_param',
 'test',
 'test_transformed',
 'train',
 'train_transformed',
 'transform_target_param',
 'variable_and_property_keys',
 'variables',
 'y',
 'y_test',
 'y_test_transformed',
 'y_train',
 'y_train_transformed',
 'y_transformed'}

In [40]:
# check transformed dataset
get_config('dataset_transformed')

,age,sex,bmi,children,smoker,region_northeast,region_southwest,region_southeast,region_northwest,age^2,...,region_northeast region_southwest,region_northeast region_southeast,region_northeast region_northwest,region_southwest^2,region_southwest region_southeast,region_southwest region_northwest,region_southeast^2,region_southeast region_northwest,region_northwest^2,charges
300,-0.584111,0.995736,-0.580755,1.577352,-0.496325,1.788102,-0.551018,-0.615222,-0.583930,-0.383008,...,0.0,0.0,0.0,-0.551018,0.0,0.0,-0.615222,0.0,-0.583930,6746.742676
904,1.484217,-1.004283,1.155944,-0.879223,-0.496325,-0.559252,1.814822,-0.615222,-0.583930,1.661025,...,0.0,0.0,0.0,1.814822,0.0,0.0,-0.615222,0.0,-0.583930,12644.588867
670,-0.584111,0.995736,0.287594,1.577352,-0.496325,-0.559252,-0.551018,1.625430,-0.583930,-0.734326,...,0.0,0.0,0.0,-0.551018,0.0,0.0,1.625430,0.0,-0.583930,4837.582520
617,0.794774,0.995736,-0.580755,0.758494,2.014810,-0.559252,1.814822,-0.615222,-0.583930,0.597312,...,0.0,0.0,0.0,1.814822,0.0,0.0,-0.615222,0.0,-0.583930,23306.546875
373,-1.273554,0.995736,0.287594,0.758494,2.014810,-0.559252,1.814822,-0.615222,-0.583930,-0.933051,...,0.0,0.0,0.0,1.814822,0.0,0.0,-0.615222,0.0,-0.583930,36085.218750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1221,0.105332,0.995736,-0.580755,0.758494,-0.496325,-0.559252,-0.551018,1.625430,-0.583930,-0.113309,...,0.0,0.0,0.0,-0.551018,0.0,0.0,1.625430,0.0,-0.583930,6593.508301
973,-1.273554,-1.004283,2.024293,-0.879223,-0.496325,-0.559252,1.814822,-0.615222,-0.583930,-1.212509,...,0.0,0.0,0.0,1.814822,0.0,0.0,-0.615222,0.0,-0.583930,1759.338013
1250,-1.273554,0.995736,-0.580755,-0.879223,2.014810,1.788102,-0.551018,-0.615222,-0.583930,-1.021768,...,0.0,0.0,0.0,-0.551018,0.0,0.0,-0.615222,0.0,-0.583930,18648.421875
887,-0.584111,-1.004283,0.287594,-0.879223,-0.496325,-0.559252,-0.551018,-0.615222,1.712534,-0.383008,...,0.0,0.0,0.0,-0.551018,0.0,0.0,-0.615222,0.0,1.712534,5272.175781
50,-1.273554,-1.004283,1.155944,-0.879223,-0.496325,1.788102,-0.551018,-0.615222,-0.583930,-1.245334,...,0.0,0.0,0.0,-0.551018,0.0,0.0,-0.615222,0.0,-0.583930,2211.130859

In [15]:
# compare various models
compare_models()

Initiated  . . . . . . . . . . . . . . . . . .           11:17:33
Status     . . . . . . . . . . . . . . . . . .   Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Linear Regression

GradientBoostingRegressor(random_state=123)

In [44]:
tuned_model = tune_model(lr)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [49]:
predict_model(lr, data = data).prediction_label[0]

23624.07737853429